:root {
    --font-family: "Cormorant Upright", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --third-family: "Bestermind", sans-serif;
    --txt-color: rgba(255, 255, 255, 1);
    --main-txt: rgba(220, 202, 135, 1);
    --btn-txt: rgba(12, 12, 12, 1);
    --main-second-color: rgba(170, 170, 170, 1);
    --main-bg: rgba(4, 4, 4, 1);
    --gallery-gradient: rgba(0, 0, 0, 0.25);
    --border-color: rgba(220, 202, 135, 0.2);
    --input-border: rgba(245, 239, 219, 1);
    --decor-color: rgba(250, 250, 250, 1);
    --btn-second-txt-color: rgba(12, 11, 8, 1);
    --letter-spacing-second: 0.03em;
    --line-height-smaller: 1.35;
    --line-height-third: 1.3;
    --letter-spacing-second: 0.03em;
    --line-height-smaller: 1.35 --line-height-third: 1.3;
    --letter-spacing-third: 0.05em;
    --form-border-color: rgba(220, 202, 135, 0.2);
    --updates-img-border: rgba(196, 196, 196, 1);
}

body {
    line-height: 1.75;
    letter-spacing: 0.04;
    font-family: var(--font-family);
    background-color: var(--main-bg);
}

.container {
    width: 1680px;
    margin: 0 auto;
}

.header {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--btn-second-txt-СЃolor);
}

.header-link {
    color: var(--txt-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75px;
    letter-spacing: 4%;
    font-family: var(--second-family);
}

.header_roster-link {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 5%;
    text-decoration: none;
    color: var(--txt-color);
}

.header-logo {
    color: var(--txt-color);
    text-decoration: none;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3px;
    letter-spacing: 4%;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 437px;
}

.header-list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header_roster-list {
    display: flex;
    align-items: center;
}

.header_roster-item {
    display: flex;
    align-items: center;
}

.header_roster-item:nth-child(1)::after {
    content: "";
    background-image: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    width: 1px;
    height: 57px;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

.hero {
    background: linear-gradient(to right,
            rgba(4, 4, 4, 0.5),
            rgba(4, 4, 4, 0.5)),
        url(../images/second-page/backgrounds/background-image.jpg);
    padding-bottom: 138px;
    position: relative;
}

.hero-container {
    display: flex;
}

.hero-img {
    margin: 0 auto;
}

.hero-hashtag {
    color: var(--txt-color);
    font-size: 18px;
}

.hero-hashtag-wrapper {
    display: flex;
    gap: 40px;
    writing-mode: sideways-lr;
    justify-content: flex-end;
    position: absolute;
    top: 56px;
    left: 112px;
}

.hero-aside {
    padding-bottom: 82px;
    display: flex;
    align-self: flex-end;
    position: absolute;
    right: 106px;
    bottom: 170px;
}

.hero-aside-list {
    writing-mode: sideways-rl;
    display: flex;
    align-self: flex-end;
    gap: 8px;
}

.hero-aside-item {
    color: var(--input-border);
    font-size: 16px;
    font-weight: 600;
}

.first-aside-item {
    display: flex;
    align-items: center;
}

.first-aside-item::after {
    content: '';
    background-color: var(--main-txt);
    height: 16px;
    margin-top: 8px;
    width: 1px;
    display: inline-block;
}

.hero-title {
    color: var(--txt-color);
    line-height: var(--line-height-third);
    letter-spacing: var(--letter-spacing-third);
    font-size: 181px;
    position: absolute;
    top: 319px;
    left: 426px;
}


.table {
    padding-top: 152px;
    padding-bottom: 152px;
    position: relative;
}

.table-logo {
    position: absolute;
    width: 146px;
    height: 146px;
    bottom: 700px;
    left: 1750px;
}

.table-container {
    background-color: var(--btn-txt);
    border: 1px solid var(--main-txt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 68px;
    padding-bottom: 68px;
}

.table-subtitle {
    font-weight: 700;
    font-size: 23px;
    font-family: var(--font-family);
    color: var(--txt-color);
}

.table-subtitle::after {
    content: '';
    background-image: url(../images/first-page/icons/right-spoon.png);
    background-repeat: no-repeat;
    display: block;
    height: 9px;
    background-position: center;
}

.table-title {
    font-size: 64px;
    font-weight: 600;
    font-family: var(--font-family);
    color: var(--main-txt);
    padding-bottom: 64px;
}

.table-select {
    padding: 16px 316px 16px 16px;
    background-color: var(--btn-txt);
    border: 1px solid var(--input-border);
    color: var(--main-second-color);
    font-weight: 600;
    font-family: var(--font-family);
    font-size: 16px;
}

.table-form {
    display: flex;
    gap: 32px;
    padding-bottom: 64px;
}

.table-button {
    padding: 8px 32px;
    color: var(--btn-txt);
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 16px;
    background-color: var(--main-txt);
    border: 1px solid var(--main-txt);
}


.table-select-person,
.table-select-time,
.table-select-date {
    color: var(--main-second-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
}

.about {
    background: linear-gradient(to right,
            rgba(4, 4, 4, 0.5),
            rgba(4, 4, 4, 0.5)),
        url(../images/second-page/backgrounds/background-image.jpg);
    padding-top: 128px;
    padding-bottom: 128px;
    position: relative;
}

.about-logo {
    position: absolute;
    width: 146px;
    height: 146px;
    left: 106px;
    top: 0;
}

.about-container {
    display: flex;
    gap: 143px;
    justify-content: center;
}

.about-top-img {
    padding-bottom: 40px;
}

.about-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: var(--line-height-third);
    color: var(--txt-color);
}

.about-subtitle::after {
    content: '';
    background-image: url(../images/second-page/icons/right-spoon.jpg);
    background-position: left;
    background-repeat: no-repeat;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40px;
    height: 9px;
}

.about-title {
    color: var(--main-txt);
    font-size: 64px;
    line-height: var(--line-height-third);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-second);
    width: 614px;
    text-transform: capitalize;
    padding-bottom: 32px;
}

.about-desc {
    color: var(--main-second-color);
    font-size: 16px;
    width: 523px;
    font-family: var(--second-family);
    padding-bottom: 32px;
}

.about-btn {
    background-color: var(--main-txt);
    padding: 8px 32px;
    color: var(--view-btn-txt);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
}

.poison {
    padding-top: 201px;
    padding-bottom: 152px;
    text-align: center;
}

.poison-subtitle {
    color: var(--txt-color);
    font-size: 23px;
    font-weight: 700;
    line-height: var(--line-height-third);
}

.poison-subtitle::after {
    content: '';
    background-image: url(../images/second-page/icons/right-spoon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 9px;
}

.poison-title {
    font-size: 64px;
    font-weight: 600;
    color: var(--main-txt);
    line-height: var(--line-height-third);
    padding-bottom: 64px;
}

.poison-list {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
}

.poison-item {
    border: 1px solid;
    border-color: rgba(220, 202, 135, 0.505);
    display: flex;
    position: relative;
}

.poison-item-desc {
    font-weight: 600;
    font-size: 45px;
    line-height: 58px;
    color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 50%;
    left: 40%;
}

.poison-item-desc-third {
    left: 35%;
}

.poison-item:hover .poison-item-desc {
    color: var(--txt-color);
}

.poison-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 412px;
    height: 600px;
}

.poison-item:hover .poison-overlay {
    background-image: linear-gradient(to top, rgba(12, 12, 12, 0.5), rgba(12, 12, 12, 0.5));
}

.third-item {
    padding-inline: 130px;
    padding-block: 271px;
}

.hours {
    background:
        linear-gradient(to left, rgba(12, 12, 12, 0.5), rgba(12, 12, 12, 0.5)),
        url(../images/second-page/photos/martini.jpg) center / cover no-repeat;
    padding-top: 330px;
    padding-bottom: 330px;
    text-align: center;
}

.hours-title {
    font-size: 128px;
    letter-spacing: var(--letter-spacing-second);
    line-height: var(--line-height-third);
    font-weight: 600;
    padding-bottom: 32px;
    color: var(--main-txt);
}

.hours-desc {
    font-weight: 700;
    font-size: 32px;
    line-height: var(--line-height-third);
    color: var(--txt-color);
}

.find {
    padding-top: 128px;
    padding-bottom: 128px;
    background: linear-gradient(to right,
            rgba(4, 4, 4, 0.5),
            rgba(4, 4, 4, 0.5)),
        url(../images/second-page/backgrounds/background-image.jpg);
}

.find-container {
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
}

.find-subtitle {
    font-weight: 700;
    font-size: 23px;
    color: var(--txt-color);
    line-height: var(--line-height-third);
}

.find-subtitle::after {
    content: '';
    display: block;
    background-image: url(../images/second-page/icons/right-spoon.jpg);
    background-position: left;
    background-repeat: no-repeat;
    width: 40px;
    height: 9px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.find-title {
    color: var(--main-txt);
    font-weight: 600;
    line-height: var(--line-height-third);
    font-size: 64px;
    padding-bottom: 64px;
}

.find-desc {
    font-family: var(--second-family);
    color: var(--main-second-color);
    font-size: 16px;
    padding-bottom: 32px;
}

.find-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 64px;
}

.find-list-title {
    font-weight: 700;
    font-size: 23px;
    line-height: var(--line-height-third);
    color: var(--main-txt);
    padding-bottom: 16px;
}

.find-item-desc {
    color: var(--txt-color);
    font-family: var(--second-family);
    font-size: 16px;
}

.find-btn {
    background-color: var(--main-txt);
    padding: 8px 32px;
    color: var(--view-btn-txt);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
}

.newsletter {
    height: 500px;
    padding: 80px 180px;
}

.newsletter-container {
    background-color: var(--main-bg);
    border: 1px solid var(--main-second-color);
    background-color: var(--btn-txt);
    border: 1px solid var(--form-border-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.newsletter-title {
    color: var(--main-txt);
    font-size: 64px;
    font-family: var(--font-family);
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 1.3px;
    padding-top: 8px;
    padding-bottom: 24px;
}

.newsletter-subtitle {
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 23px;
    letter-spacing: var(--letter-spacing-second);
    color: var(--txt-color);
    padding-bottom: 8px;
}

.newsletter-subtitle::after {
    content: '';
    background-image: url(../images/first-page/icons/right-spoon.png);
    background-repeat: no-repeat;
    display: block;
    height: 9px;
    background-position: center;
}

.newsletter-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: var(--letter-spacing-second);
    color: var(--txt-color);
    line-height: 175%;
}


.newsletter-input {
    padding: 16px 519px 16px 19px;
    font-weight: 600;
    font-family: var(--font-family);
    font-size: 16px;
    letter-spacing: var(--letter-spacing-second);
    background-color: var(--btn-txt);
    color: var(--main-second-color);
    border: 1px solid var(--input-border);
}

.newsletter-button {
    font-family: var(--font-family);
    padding: 8px 32px;
    font-weight: 700;
    font-size: 16px;
    color: var(--btn-txt);
    background-color: var(--main-txt);
    border: 1px solid var(--main-txt);
    margin-left: 32px;
}

.footer {
    background: linear-gradient(to right,
            rgba(4, 4, 4, 0.5),
            rgba(4, 4, 4, 0.5)),
        url(../images/second-page/backgrounds/background-image.jpg);
    padding-bottom: 138px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    gap: 126px;
}

.footer-address {
    text-align: center;
}

.footer-address-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-address-title {
    color: var(--input-border);
    font-size: 32px;
    font-weight: 400;
    line-height: var(--line-height-smaller);
    letter-spacing: var(--letter-spacing-second);
    margin-bottom: 24px;
}

.footer-address-item-link {
    color: var(--main-second-color);
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.footer-logo {
    color: var(--main-txt);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: var(--line-height-smaller);
    letter-spacing: var(--letter-spacing-second);
    text-transform: uppercase;
    margin-bottom: 32px;
    text-decoration: none;
    display: block;
}

.footer-desc {
    color: var(--txt-color);
    text-align: center;
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 400;
    line-height: var(--line-height-smaller);
    letter-spacing: var(--letter-spacing-second);
    margin-bottom: 16px;
    width: 438px;
}

.footer-desc::after {
    content: '';
    background-image: url(../images/first-page/icons/right-spoon.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 9px;
    margin: 16px auto;
    display: block;
}

.footer-sm-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-list-title {
    color: var(--input-border);
    font-size: 32px;
    font-weight: 400;
    line-height: var(--line-height-smaller);
    letter-spacing: var(--letter-spacing-second);
}

.footer-item-desc {
    color: var(--main-second-color);
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 400;
    line-height: var(--line-height-smaller);
}

.footer-copyright {
    color: var(--main-second-color);
    text-align: center;
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 400;
    line-height: var(--line-height-smaller);
    letter-spacing: var(--letter-spacing-second);
    display: block;
}

.footer-container {
    display: flex;
    gap: 64px;
    flex-direction: column;
}

.footer-box {
    display: flex;
    gap: 229px;
    align-items: center;
    justify-content: center;
}
.footer-list-wrapper{
     display:flex;
     flex-direction: column;
     gap: 24px;
}
